n8n-workflows/NEXUS-whatsapp-lead-responder.json
{
  "name": "NEXUS - WhatsApp Lead Responder",
  "nodes": [
    {
      "parameters": {
        "path": "nexus-whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "a9b1c2d3-0001-0001-0001-000000000001",
      "name": "Webhook Z-API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "nexus-whatsapp-lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-text",
              "leftValue": "={{ $json.body?.text?.message ?? $json.body?.message ?? $json.text?.message ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.body?.fromMe ?? $json.fromMe ?? false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a9b1c2d3-0001-0001-0001-000000000002",
      "name": "Filtrar Mensagens Válidas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 300,\n  \"system\": \"Você é o assistente oficial do NEXUS — o sistema operacional empresarial com IA mais avançado do Brasil.\\n\\nSeu papel: responder dúvidas de leads que completaram o diagnóstico operacional e estão na fila de espera do beta.\\n\\nContexto NEXUS:\\n- NEXUS é uma plataforma de IA que opera o negócio do empresário 24/7 (vendas, atendimento, financeiro, operações)\\n- Ainda em beta fechado — fase fundadores, vagas limitadas\\n- Acesso antecipado via lista de espera\\n- Comunidade exclusiva: NEXUS AI OPERATORS no WhatsApp\\n- Link da comunidade: https://chat.whatsapp.com/IxLlbI3MTvn5ZPnAswGYXW\\n\\nComo responder:\\n- Sempre em português, tom profissional mas próximo\\n- Máximo 3-4 frases por mensagem — seja direto\\n- Se perguntar sobre preço: dizer que será comunicado no momento do convite de acesso\\n- Se perguntar quando terá acesso: dizer que os convites são enviados em ordem da fila, em breve\\n- Se quiser saber mais: convidar para entrar na comunidade NEXUS AI OPERATORS\\n- Se perguntar o que é o NEXUS: sistema operacional de IA que automatiza e inteligentiza toda a operação da empresa\\n- Nunca inventar recursos, preços ou datas\\n- Sempre finalizar com uma ação clara\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $('Webhook Z-API').item.json.body?.text?.message ?? $('Webhook Z-API').item.json.body?.message ?? $('Webhook Z-API').item.json.text?.message ?? 'oi' }}\"\n    }\n  ]\n}"
      },
      "id": "a9b1c2d3-0001-0001-0001-000000000003",
      "name": "Gerar Resposta IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-phone",
              "name": "phone",
              "value": "={{ $('Webhook Z-API').item.json.body?.from || $('Webhook Z-API').item.json.from || $('Webhook Z-API').item.json.body?.phone || $('Webhook Z-API').item.json.phone || $('Webhook Z-API').item.json.body?.connectedPhone || '' }}",
              "type": "string"
            },
            {
              "id": "log-reply",
              "name": "reply",
              "value": "={{ $('Gerar Resposta IA').item.json.content?.[0]?.text || $('Gerar Resposta IA').item.json.completion || $('Gerar Resposta IA').item.json.message || 'Desculpe, não entendi. Pode repetir?' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a9b1c2d3-0001-0001-0001-000000000005",
      "name": "LogResposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=`https://api.z-api.io/instances/${$vars.ZAPI_INSTANCE_ID}/token/${$vars.ZAPI_TOKEN}/send-text`",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "={{ $vars.ZAPI_CLIENT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"phone\": \"={{ $json.phone }}\",\n  \"message\": \"={{ $json.reply }}\"\n}"
      },
      "id": "a9b1c2d3-0001-0001-0001-000000000004",
      "name": "Responder via Z-API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 220]
    }
  ],
  "connections": {
    "Webhook Z-API": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens Válidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens Válidas": {
      "main": [
        [
          {
            "node": "Gerar Resposta IA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gerar Resposta IA": {
      "main": [
        [
          {
            "node": "LogResposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LogResposta": {
      "main": [
        [
          {
            "node": "Responder via Z-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
