n8n-workflows/NEXUS-email-acesso-manual.json
{
  "name": "NEXUS - Email Acesso Manual",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Disparar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "email",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "login_url",
              "value": "https://nexusaas.com.br/login",
              "type": "string"
            }
          ]
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Parâmetros de Envio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300],
      "notes": "email: preencha o email do usuário que vai receber acesso. Deixe vazio para enviar para todos os aprovados. login_url: URL de acesso (padrão: https://nexusaas.com.br/login)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexusaas.com.br/api/waitlist/send-sequence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer nexus_cron_2025"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ step: 5, ...(($json.email || '').trim() ? { email: $json.email.trim() } : {}), login_url: $json.login_url }) }}"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Disparar Email Acesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Envia o email de acesso (step 5). Se 'email' estiver preenchido no nó anterior, envia só para aquele usuário. Se vazio, envia para todos sem days_ago filter."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-4",
              "leftValue": "={{ $json.failed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Houve falhas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "message": "=✅ NEXUS Email Acesso: {{ $json.sent }} enviados com sucesso.\n\nDestinatários:\n{{ $json.results.filter(r => r.success).map(r => '• ' + r.email).join('\\n') }}"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000005",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400],
      "notes": "Substitua por Slack/email de confirmação se quiser receber notificação de sucesso"
    },
    {
      "parameters": {
        "message": "=❌ NEXUS Email Acesso: {{ $json.sent }} enviados, {{ $json.failed }} falhas.\n\nFalhas:\n{{ $json.results.filter(r => !r.success).map(r => '• ' + r.email + ': ' + r.error).join('\\n') }}\n\nDetalhes completos: {{ JSON.stringify($json.results) }}"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000006",
      "name": "Log de Erro",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200],
      "notes": "Substitua por Slack/email de alerta se quiser notificação de erros"
    }
  ],
  "connections": {
    "Disparar Manualmente": {
      "main": [
        [
          {
            "node": "Parâmetros de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetros de Envio": {
      "main": [
        [
          {
            "node": "Disparar Email Acesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparar Email Acesso": {
      "main": [
        [
          {
            "node": "Houve falhas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Houve falhas?": {
      "main": [
        [
          {
            "node": "Log de Erro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["NEXUS", "waitlist", "email", "manual"]
}
